<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resources/images/logo.ico" type="image/x-icon">
    <title>Создание заявки</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/catalog.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <main>
      <div class="div">
          <h2 style="margin-bottom: 20px">Создание заявки на товар</h2>
          <form action="#" th:action="@{/createbid}" th:object="${item}" method="post">
              <label for="title">Название товара: </label>
              <input type="text" id="title" th:field="*{title}" required><br>

              <label for="description">Описание товара: </label>
              <textarea id="description" th:field="*{description}" required></textarea><br>

              <label for="cost">Предлагаемая вами стоимость (руб.): </label>
              <input type="number"  id="cost" th:field="*{cost}" required><br>

              <div style="display: flex; justify-content: center; margin-top: 20px;">
                  <button type="submit">Подтвердить</button>
              </div>
          </form>
      </div>
    </main>
    <div th:insert="~{footer :: footer}"></div>
</body>
</html>