<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/resources/images/logo.ico" type="image/x-icon">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/index.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <main class="main">
        <section class="hero">
            <h1>Приветсвуем Вас<br>в Lombard</h1>
            <a href="createbid" class="btn">Оформим ваш товар?</a>
        </section>
    </main>
    <div th:insert="~{footer :: footer}"></div>
</body>
</html>